@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=IBM+Plex+Mono:wght@200&family=Poppins&display=swap');

/*Start of Globalb Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/pexels-james-wheeler-1539225.jpg);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;
}

button {
    background-color: #3882f6;
    padding: 25px;
    border-radius: 15%;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.siteblock {
    height: 400px;
    width: auto;
}
/*End of Global Styles*/


/*this is the header section */

header {
    background-color: #1f2973;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;

}


#logo-img {
    height: 30px;
    width: auto;
}

#logo-text {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: bold;
    font-size: 28px;
}


nav {
    list-style-type: none;
}


nav li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

/* end of header section */

/*start of hero section */

article {
    margin: 300px 0 0;
}


.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.4);
}

.hero p {
    width: 700px;
    height: auto;
}

.hero p.main {
    text-align: center;
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    font-family: 'Edu TAS Beginner', sans-serif;
}

.hero p.secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}

#coding {
    height: 500px;
    width: auto;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* end of hero section */

/*start of activities section */

main {
    background-color: #f9faf8;
    background-image: url(img/wave1.svg);
    background-repeat: no-repeat;
    margin: 300px 0 0;
}

#info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: center;
    padding: 30px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 400px;
    background-color: rgba(12, 12, 12, 0.7);

  }
  
  .container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url(img/wave2.svg);
    background-size: cover;
  }
  
  .cardbox {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
  }

/* ending of hero section */

/* start of quote section  */

.quotes {
    background-color: #e5e7eb;
    padding: 50px;
    text-align: center;
}

.quotes q {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

/* end of quote section */


/* start of action section */

.action {
    background-color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 60px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.action-container h4 {
    font-size: 24px;
    font-weight: bolder;
}

.action-container p {
    color:#1f2973;
}

.action button {
    padding: 30px;
    flex: 1;
    border-radius: 0%;
}

/*end of action section */

/*start of footer section */

footer {
    background-color: #1f2973;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}